@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.bg-color-transition, .navbar-collapse.collapse.show::before, .header.on-scroll .navbar-collapse.collapse.show::before, .header.on-scroll {
  -webkit-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
  box-shadow: -1px 0px 8px #9c9c9c3b;
}

h2 {
  font-weight: 800;
}

.btn {
  font-weight: 600;
}

.btn-outline-white {
  border-color: #fff;
  color: #fff;
}
.btn-outline-white:hover {
  background-color: #fff;
  color: #E1251B;
}

a:hover {
  color: #E1251B;
}

@media (max-width: 576px) {
  .card .card-body {
    padding: 0 0 1rem 0;
  }
}

.header {
  height: 78px;
}
.header.on-scroll {
  background-color: #fff;
  box-shadow: -1px 0px 8px #9c9c9c3b;
}
.header.on-scroll a.nav-link {
  color: #1a1a1a;
}
.header.on-scroll a.nav-link:hover {
  color: #E1251B;
}
.header.on-scroll .navbar-collapse.collapse.show::before {
  background-color: #fff;
  box-shadow: -1px 0px 8px #9c9c9c3b;
}
.header.on-scroll .custom-navbar-toggler-icon img {
  filter: invert(19%) sepia(6%) saturate(266%) hue-rotate(201deg) brightness(93%) contrast(84%);
}

.navbar {
  padding: 1rem;
}
.navbar .navbar-brand {
  font-size: 1.29375rem;
  margin-right: 3rem;
  padding-bottom: 0;
}
.navbar .custom-navbar-toggler-icon img {
  height: 24px;
  width: 24px;
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(137deg) brightness(103%) contrast(101%);
}
.navbar .nav-item {
  margin-right: 1rem;
}
.navbar a.nav-link {
  color: #fff;
}
.navbar a.nav-link:hover {
  color: #E1251B;
}

.navbar-collapse.collapse.show::before {
  background-color: #f99f1b;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

h1.headline--text {
  font-family: "dinfont";
  font-size: 3rem;
  color: #fff;
}
@media (max-width: 576px) {
  h1.headline--text {
    font-size: 1.5rem;
  }
}

.lead {
  color: #fff;
}

.white-background {
  background-color: #fff;
}

.dark-gray-background {
  background-color: #1A1A1A;
}

.bg-soft-gray {
  background-color: #F6F6F6;
}

.gray-gradient {
  background: #f6f6f6;
  background: linear-gradient(180deg, #f6f6f6 0%, white 100%);
}

.gray-background::before {
  content: "";
  background-color: #F6F6F6;
  transform: translateY(-37px);
  height: 40%;
  width: 100%;
  z-index: 0;
  left: 0;
  position: absolute;
}

.jumbotron {
  background-color: #F99E1B;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0;
}
.jumbotron .headline--text {
  font-weight: 800;
  line-height: 1;
}
@media (max-width: 992px) {
  .jumbotron .img-holder {
    display: none;
  }
}
@media (max-width: 767px) {
  .jumbotron .btn-sandbox {
    display: block;
  }
}
.jumbotron .jb-img {
  background-image: url("./assets/illustration/jb-laptop.webp");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.five-pain h2 {
  font-weight: 800;
}
.five-pain .inovation .col {
  padding: 16px 8 16px 8;
  color: #1A1A1A;
  font-weight: 700;
  padding: 1.2rem;
  font-size: 1.1rem;
}
@media (max-width: 767px) {
  .five-pain .inovation .col {
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.five-pain .inovation .col span:first-of-type {
  color: #1a1a1a;
  font-weight: 400;
  display: block;
  margin-bottom: 8px;
  font-size: 1rem;
}

.case .card {
  border: 0;
}
.case p {
  font-size: 16px;
  line-height: 1.5;
}
.case img {
  margin-bottom: 1rem;
}

.top-pin {
  margin: 5rem 0 0;
}
.top-pin .card {
  border: 0;
  box-shadow: 0px 16px 20px rgba(156, 156, 156, 0.08), 0px 6px 24px rgba(150, 150, 150, 0.05);
}
.top-pin .card .card-body {
  padding: 1.5rem 1rem;
}
.top-pin .card .card-body img {
  margin-bottom: 8px;
}

.navbar-collapse.collapse.show::before,
.header.on-scroll .navbar-collapse.collapse.show::before {
  transform: scaleX(2);
}

/*# sourceMappingURL=styles.css.map */
